ftp
capturas
*.whl
*.cpython-*
**/volumes/
**/ftp
**/capturas
**/dataset
ftp
*.log
__pycache__
**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/sandbox.ipynb
*.pyc
**/deepface.egg-info/
**/tests/dataset/*.pkl
**/tests/sandbox.ipynb